@inherits ReactiveComponentBase<ShellNavMenuViewModel>

@if (ViewModel!.IsDrawerVisible){
    <div @ref="drawer" tabindex="0">
    <MudDrawer Elevation="2" Variant="DrawerVariant.Responsive"
               ClipMode="DrawerClipMode.Always"
               @bind-Open="ViewModel.IsDrawerOpen" Class="@Class" Style="@Style">
        <MudDrawerHeader>
            @Header
        </MudDrawerHeader>

        <MudNavMenu>
            @if (ChildContent is not null){
                @ChildContent
            }
        </MudNavMenu>
        @if (ViewModel.IsDrawerOpen){
            <MudSpacer/>
            <MudStack Spacing="0" Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Baseline"
                      Style="border-top: 1px solid var(--mud-palette-lines-default);padding: 4px;background-color: var(--mud-palette-surface)">
                @if (Footer is null){
                    <span></span>
                }
                else{
                    @Footer
                }
                <MudText Typo="Typo.subtitle2">@AppVersion.Current</MudText>
            </MudStack>
        }
    </MudDrawer>
    </div>
}