@using System.Reactive.Linq
@using Microsoft.Extensions.Logging
@using Microsoft.JSInterop
@inherits ReactiveComponentBase<ShellNavMenuViewModel>

@inject ILogger<ShellNavMenu> Logger
@inject NavigationManager NavManager
@inject IJSRuntime JS

@if (ViewModel!.IsDrawerVisible){
    <div @ref="drawer" tabindex="0">
    <MudDrawer Elevation="2" Variant="DrawerVariant.Persistent"
               ClipMode="DrawerClipMode.Always"
               @bind-Open="ViewModel.IsDrawerOpen">
        <MudDrawerHeader/>

        <MudNavMenu>
            @if (ChildContent is not null){
                @ChildContent
            }
        </MudNavMenu>
        @if (ViewModel.IsDrawerOpen){
            <MudSpacer/>
            <MudText Typo="Typo.subtitle2" Align="Align.Right" Style="border-top: 1px solid lightgray">
                version @AppVersion.Current
            </MudText>
        }
    </MudDrawer>
    </div>
}

@code {

    DotNetObjectReference<ShellNavMenu> me = null!;

    ElementReference drawer;
    CompositeDisposable disposables = new();

    bool blurTracking;

    [Parameter] public RenderFragment? ChildContent { get; set; }

    public ShellNavMenu(IActivator activator) {
        ViewModel = activator.Create<ShellNavMenuViewModel>();
        this.WhenActivated(d => {
            me = DotNetObjectReference.Create(this).DisposeWith(d);
            this.WhenAnyValue(x => x.ViewModel!.IsDrawerOpen)
                .Where(identity)
                .Subscribe(async void (_) => {
                     var (e, _) = await Try(drawer.FocusAsync().AsTask());
                     if (e is not null)
                         Logger.LogWarning(e, "Cannot focus drawer");
                 })
                .DisposeWith(d);

            this.WhenAnyValue(x => x.ViewModel!.IsDrawerVisible)
                .Where(identity)
                .Subscribe(_ => blurTracking = false)
                .DisposeWith(d);

            ViewModel!.DisposeWith(d);
            disposables.DisposeWith(d);
        });
    }

    [JSInvokable]
    public void OnBlur() {
        if (ViewModel!.IsDrawerOpen)
            ViewModel.IsDrawerOpen = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender || blurTracking) return;
        blurTracking = true;

        await JS.InvokeVoidAsync("rzBlazor.trackBlur", drawer, me);
    }

}