@inject ShellViewModel Shell

<ShellAppBar>
    <Title>
        <MudText Typo="Typo.h5"><SectionOutlet SectionName="app-title" /></MudText>
    </Title>
    <Actions>
        <MudAvatar Color="Color.Secondary">JD</MudAvatar>
    </Actions>
</ShellAppBar>